.admin-container {
    border: 1px solid #d4d4d4;    
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}


.admin-body{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 1;
    margin-right: 50px;
}

.admin-sidebar{
    width: 15vw;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
}

.admin-main{
    flex-grow: 1;
}



