.chat-box{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #d4d4d4;
}

.my-message{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.ai-message{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.chat-bubble {
    background-color: #f1f0f0;
    border-radius: 20px;
    padding: 10px 20px;
    display: inline-block;
    max-width: 80%;
    width: 50px;
    height: 20%;
    margin: 20px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
  }
